<div class="container" id="login-form">
    <div class="card">
        <div class="card-body">
            <form  #farmer="ngForm" novalidate (ngSubmit)="onSubmit(farmer.value)">
                <h3>Personal details</h3>
                <span>
                    <div class="mb-3">
                        <label for="name" class="form-label">Full Name</label>
                        <input type="text" class="form-control" id="name" #name="ngModel" ngModel>
                        <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
                            <div *ngIf="name.hasError('required')"> required.</div>
                        </div></div>
                    <div class="mb-3">
                        <label for="contact" class="form-label">Contact No.</label>
                        <input type="text" class="form-control" id="contact" #contact="ngModel" ngModel>
                        <div *ngIf="contact.touched && contact.invalid" class="alert alert-danger">
                            <div *ngIf="contact.hasError('required')"> required.</div>
                        </div></div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" #email="ngModel" ngModel>
                        <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
                            <div *ngIf="email.hasError('required')"> required.</div>
                        </div></div>                       
                </span>
                <span>
                    <h3>Address details</h3>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Address</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" #adderss="ngModel" ngModel></textarea>
                        div *ngIf="adderss.touched && adderss.invalid" class="alert alert-danger">
                        <div *ngIf="adderss.hasError('required')"> required.</div>
                    </div>
                    <div class="mb-3">
                        <label for="city" class="form-label">City</label>
                        <input type="text" class="form-control" #city="ngModel" ngModel name="city">
                        <div *ngIf="city.touched && city.invalid" class="alert alert-danger">
                            <div *ngIf="city.hasError('required')"> required.</div>
                        </div></div>
                    <div class="mb-3">
                        <label for="state" class="form-label">State</label>
                        <input type="text" class="form-control"#state="ngModel" ngModel name="state">
                    
                        <div *ngIf="state.touched && state.invalid" class="alert alert-danger">
                            <div *ngIf="state.hasError('required')"> required.</div>
                        </div></div>
                    <div class="mb-3">
                        <label for="pincode" class="form-label">Pincode.</label>
                        <input type="number" class="form-control" #pincode="ngModel" ngModel name="pincode" >
                        <div *ngIf="pincode.touched && pincode.invalid" class="alert alert-danger">
                            <div *ngIf="pincode.hasError('required')"> required.</div>
                        </div>
                    </div>

                </span>
                <span>
                    <h3>Bank Details</h3>
                    <div class="mb-3">
                        <label for="accno" class="form-label">Account No.</label>
                        <input type="text" class="form-control" id="accno"  #account_no="ngModel" ngModel id="accno">
                        <div *ngIf="account_no.touched && account_no.invalid" class="alert alert-danger">
                            <div *ngIf="account_no.hasError('required')"> required.</div>
                        </div></div>
                    <div class="mb-3">
                        <label for="iifc" class="form-label">IFSC code</label>
                        <input type="text" class="form-control" id="iifc"  #ifsc="ngModel" ngModel id="iifc">
                        <div *ngIf="ifsc.touched && ifsc.invalid" class="alert alert-danger">
                            <div *ngIf="ifsc.hasError('required')"> required.</div>
                        </div>
                    </div>
                </span>
                <span>
                    <span>
                        <h3>Land Details</h3>
                        <div class="mb-3">
                            <label for="accno" class="form-label">Land Area</label>
                            <input type="text" class="form-control" id="landarea"  #land_area="ngModel" ngModel id="accno">
                        </div>
                        <div class="mb-3">
                            <label for="accno" class="form-label">Land address</label>
                            <input type="text" class="form-control" id="landaddress"  #land_address="ngModel" ngModel id="accno">
                        </div>
                        <div class="mb-3">
                            <label for="accno" class="form-label">Land pincode</label>
                            <input type="text" class="form-control" id="landPincode"  #land_pincode="ngModel" ngModel id="accno">
                        </div>
                    </span>
                    <h3>Document verification</h3>
                    
                    <label for="formFile" class="form-label">Aadhar</label>
                    <input class="form-control" type="file" id="formFile" #aadhar="ngModel" ngModel id="formFile"> 
                    <div *ngIf="aadhar.touched && aadhar.invalid" class="alert alert-danger">
                        <div *ngIf="aadhar.hasError('required')"> required.</div>
                    </div> 
                    <label for="formFile" class="form-label">Pan</label>
                    <input class="form-control" type="file" id="formFile" #pan="ngModel" ngModel id="formFile">
                    <div *ngIf="pan.touched && pan.invalid" class="alert alert-danger">
                        <div *ngIf="pan.hasError('required')"> required.</div>
                    </div>
                    <label for="formFile" class="form-label">Farmers Certificate</label>
                    <input class="form-control" type="file" id="formFile"  #certificate="ngModel" ngModel id="formFile">
                    <div *ngIf="certificate.touched && certificate.invalid" class="alert alert-danger">
                        <div *ngIf="certificate.hasError('required')"> required.</div>
                    </div>
                </span>
                
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                  <!-- <div id="passwordHelpBlock" class="form-text">
                    Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                  </div> -->
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                    <!-- <div id="passwordHelpBlock" class="form-text">
                      Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                    </div> -->
                  </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>
                
              </form>
        </div>
    </div>
</div>
