<div class="container">
<div class="card"><div class="card-body">
    <div class="row mt-5 mb-5">
        <div class="col-8 offset-2">
            <ul class="list-group mb-1" *ngFor="let item of marketcropList">
                <li class="list-group-item ">
                    <div>
                        <h5 class="m-0 pb-2">
                            {{item.crop_name}}
                        </h5>
                        <p class="m-0">
                             {{item.crop_type}}
                        </p>
                        <p>
                            {{item.base_price}}
                        </p>
                    </div>
                    <app-crop-bids [crop_auction_id] = item.crop_auction_id></app-crop-bids>
                </li>
            </ul>
        </div>
    </div>
</div></div>
</div>
