
/* You can add global styles to this file, and also import other style files */
:root{
    font-size: 16px;
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("https://images.unsplash.com/photo-1500937386664-56d1dfef3854?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
